html {
    overflow-x: hidden;
    height:100%;
    width:100%;
}

h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
  font-variant: normal;
  font-weight: 300;
}

body {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;

}

.modal-backdrop {
    opacity:.9 !important;
}

.modal {
  font-size: 30px;
}

a.modallinks {
  line-height: 3;
  text-decoration: none;
  color: white;
  font-weight: 300;
}

a.modallinks:hover {
  color: gray;
  font-weight: 300;
}

.menuToggle {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 11;
	display: block;
	text-align: center;
	font-size: 14px;
	color: black;
	width: 50px;
	height: 50px;
	line-height: 50px;
	cursor: auto;
	background: rgba(255,255,255,0.6);
}

.menuToggle:hover {
	color: black;
	background: rgba(255,255,255,.8);
}

.closeModal {
  position: fixed;
  top: 20px;
  right: 30px;
  color: white;
  z-index: 12;
}

/*Sections*/

#headerwrap {
	background: url(../img/sunlight-field3.jpg) no-repeat center top;
	margin-top: 0px;
	padding-top:0px;
	text-align:center;
	background-attachment: relative;
	background-position: center right;
	/*min-height: 800px;*/
  background-size: cover;
  position: relative;
  overflow: hidden;
  height: 100vh;
}



.layer img {
  margin-top: 0px;
  width: 105%;
  margin-left: -20px;
  max-height: 820px;

}

.layer {
  position: absolute;
  bottom: 0 !important;
  margin-bottom: 0 !important;
}

/*#parallax {
  margin-top: 0px;
  padding-top:120px;
  padding-bottom: 150px;
  text-align:center;
  max-height: 100%;
  background-size: cover;
  z-index: 2;
  position: absolute;
  bottom: 0;
}
*/
.mouse-bg {
  left: -10px;
  right: -10px;
  bottom: -20px;

  position: absolute;
  z-index: 2;
}

@media only screen and (orientation: landscape) {
  #logoimage {
    margin-bottom: 50% !important;
  }
}

@media only screen and (orientation: portrait) {
  #logoimage {
    margin-top: 50% !important;
  }
}

#logoimage {
  width: 50%;
  height: auto;
  margin-top: 10px;
  margin-left: 10px;
}



/* What I Do Section */

.recent {
  font-size: 50px;
  margin-bottom: 60px;
}

.proc {
	text-align: center;
  width: 33.333%;
  float: left;
  margin: 0;
  color: #333333;
}

.skill {
	padding: 80px 10px 10px 10px;
  border: 1px solid gray;
  height: 335px;
}

.skill.one {
	border-left: 1px solid white;
  border-top: 1px solid white;
}

.skill.two {
	border-top: 1px solid white;
}

.skill.three {
  border-right: 1px solid white;
  border-top: 1px solid white;
 }

.skill.four {
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}

.skill.five {
  border-bottom: 1px solid white;
}

.skill.six {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}


#whatidocontainer {
  text-align: center;
  margin: 180px auto;

}

#whatidocontainer h3 {
	padding: 8px;
}

#whatidowrap {
	overflow: hidden;
  z-index: 3;
  background: white;
  position: relative;
}

/*What I do Responsive Design*/

@media screen and (max-width: 500px) {
   .proc {
    float: none;
    margin-right:0;
    width:auto;
    border:0;
  }
}

@media screen and (min-width: 501px) and (max-width: 800px) {
.proc {
  width: 50%;
  float: left;
  margin: 0px auto;
}
}


@media screen and (min-width: 501px) and (max-width: 800px){
.skill.one {
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
}
}


@media screen and (min-width: 501px) and (max-width: 800px) {
.skill.two {
  border-right: 0px;
  border-top: 0px;
}
}

@media screen and (min-width: 501px) and (max-width: 800px) {
.proc.three {
  border: 0px;
}
}

@media screen and (min-width: 501px) and (max-width: 800px) {
.proc.four {
  border-top: 0px;
  border-left: 1px solid gray;
  border-bottom: 0px;
  border-right: 0px;
 }
}

@media screen and (min-width: 501px) and (max-width: 800px) {
.proc.five {
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
}
}

/*Projects/Recent Work*/

.desc {
  padding: 0 !important;

}

.photo{
  max-height: 350px;
  min-height: 350px;
  width: auto;
  overflow: hidden;
}


.work {
  width: 100%;
  height: 100%;
}


.work:hover {
  cursor: url(../img/plus.png), auto;
}

.contact i {
	font-size: 50px;
}


#portfoliowrap .proc:hover {
	background-color: #eee;
	border-bottom: solid 2px #2f2f2f
}

.portfolio {
	background-image: url(../img/triangles.jpg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 700px !important;
}

@media screen and (max-width: 1085px) {
.portfolio {
  height: 500px !important;
}
}

@media screen and (max-width: 768px) {
.portfolio {
  height: 100px !important;
}
}

#projectwrap {
	margin-top: 60px;
	margin-bottom: 130px;
  margin-right: 10px;
  margin-left: 10px;
}



.container h1 {
	margin-bottom: 40px;
}


.workhover {
  position: absolute;
  left: 10px;
  top: 10px;
  right: 10px;
  bottom: 10px;
  background: rgba(255,255,255,0.9);
  vertical-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.workhover:hover {
opacity: 1;
transition: all 1s ease;
cursor: url(../img/plus.png), auto;

}


.worktext {
  margin-top: 25%;
  padding: 20px;
  color: black !important;
}



/* Gallery Configuration */
.photo-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: #2f2f2f;

}
.project .overlay {
  position: absolute;
  text-align: center;
  color: #fff;
  opacity: 0;
}

/
/* Separator About - Parallax Section */
.sep {
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	height: 450px;
	position: relative;
}
.about {
/*	background-image: url(../img/mandalatree2.jpg);
  background-size: cover;*/
  width: 100%;
  position: absolute;
}


/* Service Wrap */
#servicewrap {
	display: block;
	margin-top: 80px;
	margin-bottom: 150px;
}

#servicewrap h2 {
	font-weight: 300;
	text-align: center;
	margin-bottom: 20px;
}




/*about me box*/

#me {
  float: left;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}

#meimgcol {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

#mebox {
  padding: 0px;
}

#aboutmebox {
  border: 2px solid gray;
  padding-right: 0;
  padding-left: 0;

}

#aboutmeheader {
  line-height: 2.5;
  margin-bottom: 0px;
}

#aboutmetext {
  text-align: justify;

}




.socialicons {
  padding: 10% 0%;
  border-top: 1px solid white;
  margin: auto;
  text-align: center;
  color: white;
  font-size: 15px;
}


.socialicons i {
  margin-left: 40px;
  margin-right: 40px;
  color: white;

}

.fa-envelope-o:hover::before {
  margin-right: 2.5px;
  margin-left: 2.5px;

}

.fa-linkedin:hover::before {
  margin-right: 2.5px;
  margin-left: 2.5px;

}

.fa-github:hover::before {
  margin-right: 2.5px;
  margin-left: 2.5px;

}

.fa-twitter:hover::before {
  margin-right: 2.5px;
  margin-left: 2.5px;

}


.copyright {
  text-align: center;
  border-top: 1px solid white;
  margin: 0px;
  padding-top: 3%;
  padding-bottom: 3%;
  color: white;
  letter-spacing: 3px;
}


.contact {
	background-image: url(../img/footerfield2.jpg);
  background-position: fixed;
  background-size: cover;
}



@media screen and (max-width: 1085px) {
.contact {
  background-size: cover;
}
}

